

/*/ -- Footer -- /*/

.footer {
    background-color: black;
    width: 100%;
  }
  .footer-container {
    text-align: center;
    display: flex;
    width: 100%;
  }
  .foot-sponsors {
    justify-content: center;
    align-items:center ;
  }

.foot-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .foot-text a p{
    font-weight: normal;
    font-style: normal;
      color: white;
      text-align: center;
  }

   /* PC/Mobile Editions */

  @media only screen and (min-width:888px) {
    .footer {
      margin-bottom: auto;
      height: 75px;
    }
    .footer-container {
      justify-content: center;
      align-items: center;
      padding: auto 150px;
    }
  
  .foot-text {
    height: 75px;
    width: fit-content;
  }
  
   .foot-text a p{
        font-size: 20px;
    }
  
    /* Social Icons */
    #bi {
      padding: 10px 10px;
      font-size: 30px;
      width: 30px;
    }
  }
  @media only screen and (max-width:887px) {
    .footer {
      margin-bottom: auto;
      height: fit-content;
    }
    .footer-container {
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding: auto 25px;
    }

    .foot-text {
      height: 70px;
      width: fit-content;
      padding-right: 10px;
      padding-left: 10px;
    }
  
   .foot-text a p{
        font-size: 15px;
    }
  
    /* Social Icons */
    #bi {
      padding:7.5px 7.5px;
      font-size: 20px;
      height: 30px;
      width: 30px;
    }
  }


/*/ -- Dividers -- /*/

hr {
    width:100%;
    border: 1px solid #202020;
    background-color: #202020;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.long-div {
  width:100%;
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  box-shadow: 1px 1px 1px 1px snow;
}

.short-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 1px 1px 1px 1px snow;
}
.shorter-div {
  background-color: aliceblue;
  border:1px solid aliceblue;
  border-radius: 2px;
  color: aliceblue;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 1px 1px 1px 1px snow;
}

/*/ -- BACK TO TOP -- /*/
.scrollToTop{
    transform: translateY(100px);
    transition: all 0.4s ease;
    cursor: pointer;
    position: fixed;
    z-index: 40;
  }
  /* Mobile/PC Optimization */
  @media only screen and (min-width:888px){
    .scrollToTop {
      bottom: 30px;
      right: 30px;
    }
    #stt {
      font-size: 35px;
      width: 60px;
      height: 60px;
      padding: 12.5px;
      opacity: 80%;
    }
  }
  @media only screen and (max-width:887px){
    .scrollToTop {
      bottom: 15px;
      right: 15px;
    }
    #stt {
      font-size: 30px;
      width: 45px;
      height: 45px;
      padding: 12.5px;
      opacity: 50%;
    }
  }
  #stt {
    background-color: black;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 0px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 0px;
    box-shadow: rgba(0,0,0,0.8) 0 0 0px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }
  .bi-chevron-double-up {
    color: white;
    background-color: #181818;
  }
  
  .showScroll {
    opacity: 1;
    transform: translateY(-75px);
  }
  #stt:hover {
    opacity: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  }


/*/ -- Custom Scrollbar -- /*/
/* width */
::-webkit-scrollbar {
    width: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c9c9c9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #919191;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
  }
  html {
    scroll-behavior: smooth;
  }

body {
    background-color: #666666;
}
