.homehead {
    width: 100%;
    overflow: hidden;
    margin-top: auto;
    background-color: rgba(255, 255, 255, 0.582);
    max-width: auto;
    background-attachment: fixed;
  }
  .frame {
    width: 100%;
    height: 250px;
    position: relative;
  }
  img.logo {
    width: auto;
    height: 225px;
    max-height: 100%;
    max-width: 100%;
    min-width: 248.5px;
    min-height: 95.2px;
    position: absolute;
    overflow: hidden;
    object-fit: contain;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
  }
    
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    margin-top: auto;
  }
  
  /* Content */
  .welcome-text {
    color: white;
  }
  .partner-section h3{
    color: white;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .feature-head {
    width: 100%;
  }
  .partnered-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .partnered-shelf a{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .register-today{
    margin: 10px;
  }

/*/// --- SCREEN OPTIMIZATIONS --- ///*/

/*/ -- PC -- /*/

@media only screen and (min-width:888px) {
    .partnered-shelf{
        margin: 10px 300px;
        gap: 30px;
        flex-direction: row;
    }
    .partnered-shelf a p{
        font-size: 15px;
        padding: 10px 5px 0px;
        margin: 10px 5px 5px;
    }
    #partnerImg {
        height: 90px;
    }
}

/*/ -- Mobile -- /*/

@media only screen and (max-width:887px) {
    .partnered-shelf{
        margin: 10px 5px;
        gap: 30px;
        flex-direction: column;
    }
    .partnered-shelf a p{
        font-size: 22px;
        padding: 3px 5px 2px;
        margin: 10px 5px 5px;
    }
    #partnerImg {
        height: 80px;
    }
}