.schedule-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.schedule-column1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.schedule-column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-column2 h3{
    font-family: "ROBOTO-BOLDCONDENSED";
    font-size: 35px;
    text-decoration : underline;
    text-align: center;
    padding: 7px;
    text-shadow: 1px 1px 7px black, -1px -1px 7px black;
}

.location h2{
    padding-bottom: 1px;
}
.location p {
    text-decoration: underline;
    font-size: 22px;
    padding-top: 1px;
    color: #acdeff;
    padding-bottom: 15px;
}