*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
    background-color: black;
  }
  li{
    list-style: none;
  }
  .content {
    padding: 1px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 70px;
  }
  
  
  #navbar {
    z-index: 9999;
  }
  .navbar{
    top: 0px;
    padding: 0 24px;
    min-height: 70px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    background-color: black;
  }
  .nav-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  .navbar ul li a {
    font-family: "ROBOTO-CONDENSED";
      color: white;
      text-align: center;
      border-radius: 5px;
      font-size: 20px;
      text-decoration: none;
  }
  .nav-branding{
    font-size: 2rem;
  }
  .btn{
    background-color: rgb(0, 0, 0);
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
  }
  .btn:hover {
    background-color: #5c5c5c;
    color: white;
  }
  .activebtn {
    background-color: rgb(31,31,31);
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
  }
  .activebtn:hover {
    background-color: #5c5c5c;
    color: white;
  }
  .navbar ul li a:hover {
      background-color: white;
      color: black;
    }
      
    .navbar ul li a.active {
      background-color: rgb(31,31,31);
      color: white;
    }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  
  @media only screen and (min-width: 888px){
    .navbar {
      float: none;
      width: 100%;
      min-width: 887px;
      max-width: auto;
      -webkit-justify-content: center;
      justify-content: center;
    }  
   .nav-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 10px;
    }
    
    .nav-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar ul li a {
      float: left;
      display: block;
      color: white;
      margin: 5px;
      padding: 15px 20px;
    }
    .btn {
      border: none;
      padding: 16px 32px;
      margin: 4px 2px;
    }
    .activebtn {
      border: none;
      padding: 16px 32px;
      margin: 4px 2px;
    }
  
  }
  @media only screen and (max-width: 887px){
    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: black;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-menu.active{
      left: 0;
    }
    .btn {
      border: none;
      padding: 16px 32px;
      margin: 4px 2px;
    }
    .activebtn {
      border: none;
      padding: 16px 32px;
      margin: 4px 2px;
    }
  }
  